
.content {
  padding: 1em;
  min-width: 500px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  h2 {
    font: italic 2em 'Playfair Display', serif;
    color: #666;
    text-align: center;
    margin-bottom: 1em;
  }

  p {
    color: #444;
    font-size: 1.2em;
    line-height: 150%;
    margin-bottom: 2em;
  }
}

.spacer {
  height: 100px;
}

.calendar_join {
  margin: 3em auto;
  position: relative;
  width: 400px;

  .hello_background {
    z-index: -1;
    position: absolute;
    top: 10%;
    height: 70%;
    width: 100%;
    background-color: lightgray;
  }

  .hello_message {
    opacity: 1;
    text-align: center;
  }
}

.group-together {
  .hello_top {
    transition: all 1s ease;
    transform: translateY(15%);
  }

  .hello_bottom {
    transition: all 1s ease;
    transform: translateY(-15%);
  }
}

.group-apart {
  .hello_top {
    transition: all 1s ease;
    transform: translateY(-10%);
    filter: grayscale(50%) contrast(120%);
  }

  .hello_bottom {
    transition: all 1s ease;
    transform: translateY(10%);
    filter: grayscale(50%) contrast(120%);
  }
}

.divider-image {
  width: 400px;
  height: 170px;
  border: 1px solid #999;
  margin: 2em auto;
}

.divider_overlay {
  margin: 0 auto 2em auto;
  position: relative;
  width: 400px;
}

.calendar_overlay {
  margin: 0 auto 2em auto;
  position: relative;
  width: 400px;
}

.fade-in, .fade-out {
  position: absolute;
  top: 0;
  transition: all 2s ease;
}

.fade-in {
  opacity: 1;
  transform: scale(1);
}

.fade-out {
  opacity: 0;
  transform: scale(1.2);
}

.button-container {
  text-align: center;
}

.buy-button {
  padding: 1em 2em;
  background-color: #19DD89;
  border-radius: 20px;
  margin: 0 auto;
  display: inline-block;
  margin-bottom: 2em;
  transition: all .2s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: .1em .3em .3em rgba(black, .2);
  }
  a {
    color: white;
    text-decoration: none;
  }
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  .product {
    width: 360px;
    margin-right: 1em;
    margin-bottom: 2em;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: .2em .4em .4em rgba(black, .2);
    .product-title {
      padding: 1em;
      font-size: 1.5em;
      color: #666;;
    }
    a {
      text-decoration: none;
    }

    img {
      width: 100%;
    }
  }
}
