
.content {
  padding: 1em;
  min-width: 500px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  h2 {
    font: italic 2em "Fira Sans", serif;
    color: #666;
    text-align: center;
    margin-bottom: 1em;
  }

  p {
    color: #444;
    font-size: 1.2em;
    line-height: 150%;
    margin-bottom: 2em;
  }
}

.spacer {
  height: 100px;
}

.calendar_join {
  margin: 3em auto;
  position: relative;
  width: 400px;

  .hello_background {
    z-index: -1;
    position: absolute;
    top: 10%;
    height: 70%;
    width: 100%;
    background-color: lightgray;
  }

  .hello_message {
    opacity: 1;
    text-align: center;
  }
}

.group-together {
  .hello_top {
    transition: all 1s ease;
    transform: translateY(15%);
  }

  .hello_bottom {
    transition: all 1s ease;
    transform: translateY(-15%);
  }
}

.group-apart {
  .hello_top {
    transition: all 1s ease;
    transform: translateY(-10%);
    filter: grayscale(50%) contrast(120%);
  }

  .hello_bottom {
    transition: all 1s ease;
    transform: translateY(10%);
    filter: grayscale(50%) contrast(120%);
  }
}

.divider-image {
  width: 400px;
  height: 170px;
  border: 1px solid #999;
  margin: 2em auto;
}

.calendar_overlay {
  margin: 0 auto;
  position: relative;
  width: 400px;
  .months_layer {
    position: absolute;
    top: 0;
  }
}

.fade-in {
  transition: opacity 2s ease;
  opacity: 1;
}

.fade-out {
  transition: opacity 2s ease;
  opacity: 0;
}
